<phpunit
bootstrap="bootstrap.php"
backupGlobals="false"
colors="true"
convertErrorsToExceptions="true"
convertNoticesToExceptions="true"
convertWarningsToExceptions="true">
<testsuites>
    <testsuite name="wp-mock">
        <directory suffix="test.php">.</directory>
    </testsuite>
</testsuites>
<filter>
    <whitelist>
        <directory suffix=".php">../../src/</directory>
        <exclude>
            <directory suffix=".php">../../src/vendor/</directory>
            <file>../../src/index.php</file>
            <file>../../src/autoload.php</file>
            <file>../../src/api/index.php</file>
            <file>../../src/admin/index.php</file>
            <file>../../src/admin/partials/index.php</file>
            <file>../../src/includes/index.php</file>
            <file>../../src/login/index.php</file>
            <file>../../src/wp_mail/index.php</file>
        </exclude>
    </whitelist>
</filter>
</phpunit>
