parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - src/strauss/*
    bootstrapFiles:
        - phpstanbootstrap.php
        - src/autoload.php
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        - vendor/wp-cli/wp-cli/php/class-wp-cli-command.php
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
        - vendor/php-stubs/woocommerce-stubs/woocommerce-packages-stubs.php
    scanFiles:
        - vendor/antecedent/patchwork/Patchwork.php
    scanDirectories:
        - src/strauss
        - wp-content/plugins
        - vendor/wp-cli
    ignoreErrors:
        # LoggerAwareTrait allows for null $logger, but we set it in the constructor.
        - '#LoggerInterface\|null#'
        # PHPStan show errors when filters have more than two parameters.
        - '#^Function apply_filters(_ref_array)? invoked with \d parameters, 2 required\.$#'
