<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>Code Coverage for /home/runner/work/bh-wp-autologin-urls/bh-wp-autologin-urls/templates/email/magic-link.php</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../../css/bootstrap.min.css?v=9.2.31" rel="stylesheet" type="text/css">
  <link href="../../css/octicons.css?v=9.2.31" rel="stylesheet" type="text/css">
  <link href="../../css/style.css?v=9.2.31" rel="stylesheet" type="text/css">
  <link href="../../css/custom.css" rel="stylesheet" type="text/css">
 </head>
 <body>
  <header>
   <div class="container-fluid">
    <div class="row">
     <div class="col-md-12">
      <nav aria-label="breadcrumb">
       <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="../../index.html">/home/runner/work/bh-wp-autologin-urls/bh-wp-autologin-urls</a></li>
         <li class="breadcrumb-item"><a href="../index.html">templates</a></li>
         <li class="breadcrumb-item"><a href="index.html">email</a></li>
         <li class="breadcrumb-item active">magic-link.php</li>

       </ol>
      </nav>
     </div>
    </div>
   </div>
  </header>
  <div class="container-fluid">
   <div class="table-responsive">
    <table class="table table-bordered">
     <thead>
      <tr>
       <td>&nbsp;</td>
       <td colspan="10"><div align="center"><strong>Code Coverage</strong></div></td>
      </tr>
      <tr>
       <td>&nbsp;</td>
       <td colspan="3"><div align="center"><strong>Lines</strong></div></td>
       <td colspan="4"><div align="center"><strong>Functions and Methods</strong></div></td>
       <td colspan="3"><div align="center"><strong>Classes and Traits</strong></div></td>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="danger">Total</td>
       <td class="danger big">       <div class="progress">
         <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="0.00" aria-valuemin="0" aria-valuemax="100" style="width: 0.00%">
           <span class="sr-only">0.00% covered (danger)</span>
         </div>
       </div>
</td>
       <td class="danger small"><div align="right">0.00%</div></td>
       <td class="danger small"><div align="right">0&nbsp;/&nbsp;4</div></td>
       <td class=" big"></td>
       <td class=" small"><div align="right">n/a</div></td>
       <td class=" small"><div align="right">0&nbsp;/&nbsp;0</div></td>
       <td class=" small"><abbr title="Change Risk Anti-Patterns (CRAP) Index">CRAP</abbr></td>
       <td class=" big"></td>
       <td class=" small"><div align="right">n/a</div></td>
       <td class=" small"><div align="right">0&nbsp;/&nbsp;0</div></td>
      </tr>


     </tbody>
    </table>
   </div>
<table id="code" class="table table-borderless table-condensed">
<tbody>
    <tr class=" d-flex"><td  class="col-1 text-right"><a id="1" href="#1">1</a></td><td class="col-11 codeLine"><span class="default">&lt;?php</span></td></tr>
    <tr class=" d-flex"><td  class="col-1 text-right"><a id="2" href="#2">2</a></td><td class="col-11 codeLine"><span class="comment">/**</span></td></tr>
    <tr class=" d-flex"><td  class="col-1 text-right"><a id="3" href="#3">3</a></td><td class="col-11 codeLine"><span class="comment">&nbsp;*&nbsp;The&nbsp;template&nbsp;for&nbsp;the&nbsp;email&nbsp;sent&nbsp;when&nbsp;the&nbsp;&quot;Email&nbsp;Magic&nbsp;Link&quot;&nbsp;button&nbsp;is&nbsp;pressed.</span></td></tr>
    <tr class=" d-flex"><td  class="col-1 text-right"><a id="4" href="#4">4</a></td><td class="col-11 codeLine"><span class="comment">&nbsp;*</span></td></tr>
    <tr class=" d-flex"><td  class="col-1 text-right"><a id="5" href="#5">5</a></td><td class="col-11 codeLine"><span class="comment">&nbsp;*&nbsp;This&nbsp;can&nbsp;be&nbsp;overridden&nbsp;with&nbsp;the&nbsp;`bh_wp_autologin_urls_magic_link_email_template`&nbsp;filter.</span></td></tr>
    <tr class=" d-flex"><td  class="col-1 text-right"><a id="6" href="#6">6</a></td><td class="col-11 codeLine"><span class="comment">&nbsp;*&nbsp;Or&nbsp;by&nbsp;providing&nbsp;a&nbsp;templates/email/magic-link.php&nbsp;or&nbsp;email/magic-link.php&nbsp;file&nbsp;in&nbsp;your&nbsp;child&nbsp;theme.</span></td></tr>
    <tr class=" d-flex"><td  class="col-1 text-right"><a id="7" href="#7">7</a></td><td class="col-11 codeLine"><span class="comment">&nbsp;*</span></td></tr>
    <tr class=" d-flex"><td  class="col-1 text-right"><a id="8" href="#8">8</a></td><td class="col-11 codeLine"><span class="comment">&nbsp;*&nbsp;@see&nbsp;API::send_magic_link()</span></td></tr>
    <tr class=" d-flex"><td  class="col-1 text-right"><a id="9" href="#9">9</a></td><td class="col-11 codeLine"><span class="comment">&nbsp;*</span></td></tr>
    <tr class=" d-flex"><td  class="col-1 text-right"><a id="10" href="#10">10</a></td><td class="col-11 codeLine"><span class="comment">&nbsp;*&nbsp;@package&nbsp;brianhenryie/bh-wp-autologin-urls</span></td></tr>
    <tr class=" d-flex"><td  class="col-1 text-right"><a id="11" href="#11">11</a></td><td class="col-11 codeLine"><span class="comment">&nbsp;*</span></td></tr>
    <tr class=" d-flex"><td  class="col-1 text-right"><a id="12" href="#12">12</a></td><td class="col-11 codeLine"><span class="comment">&nbsp;*&nbsp;The&nbsp;following&nbsp;variables&nbsp;are&nbsp;available&nbsp;from&nbsp;where&nbsp;the&nbsp;parent&nbsp;function&nbsp;includes:</span></td></tr>
    <tr class=" d-flex"><td  class="col-1 text-right"><a id="13" href="#13">13</a></td><td class="col-11 codeLine"><span class="comment">&nbsp;*</span></td></tr>
    <tr class=" d-flex"><td  class="col-1 text-right"><a id="14" href="#14">14</a></td><td class="col-11 codeLine"><span class="comment">&nbsp;*&nbsp;@var&nbsp;string&nbsp;$autologin_url&nbsp;The&nbsp;magic&nbsp;login&nbsp;URL.</span></td></tr>
    <tr class=" d-flex"><td  class="col-1 text-right"><a id="15" href="#15">15</a></td><td class="col-11 codeLine"><span class="comment">&nbsp;*&nbsp;@var&nbsp;string&nbsp;$expires_in_friendly&nbsp;The&nbsp;length&nbsp;of&nbsp;time&nbsp;the&nbsp;link&nbsp;is&nbsp;valid&nbsp;for,&nbsp;e.g.&nbsp;&quot;15&nbsp;mins&quot;.</span></td></tr>
    <tr class=" d-flex"><td  class="col-1 text-right"><a id="16" href="#16">16</a></td><td class="col-11 codeLine"><span class="comment">&nbsp;*/</span></td></tr>
    <tr class=" d-flex"><td  class="col-1 text-right"><a id="17" href="#17">17</a></td><td class="col-11 codeLine"></td></tr>
    <tr class=" d-flex"><td  class="col-1 text-right"><a id="18" href="#18">18</a></td><td class="col-11 codeLine"><span class="default">?&gt;</span></td></tr>
    <tr class=" d-flex"><td  class="col-1 text-right"><a id="19" href="#19">19</a></td><td class="col-11 codeLine"></td></tr>
    <tr class="danger d-flex"><td  class="col-1 text-right"><a id="20" href="#20">20</a></td><td class="col-11 codeLine"><span class="html">&lt;div&nbsp;style=&quot;text-align:center;&quot;&gt;</span></td></tr>
    <tr class=" d-flex"><td  class="col-1 text-right"><a id="21" href="#21">21</a></td><td class="col-11 codeLine"></td></tr>
    <tr class="danger d-flex"><td  class="col-1 text-right"><a id="22" href="#22">22</a></td><td class="col-11 codeLine"><span class="html">&nbsp;&nbsp;&nbsp;&nbsp;&lt;div&nbsp;style=&quot;margin-left:auto;&nbsp;margin-right:auto;&nbsp;margin-top:&nbsp;25px;&nbsp;margin-bottom:&nbsp;25px;&quot;&gt;</span></td></tr>
    <tr class=" d-flex"><td  class="col-1 text-right"><a id="23" href="#23">23</a></td><td class="col-11 codeLine"></td></tr>
    <tr class="danger d-flex"><td  class="col-1 text-right"><a id="24" href="#24">24</a></td><td class="col-11 codeLine"><span class="html">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;a&nbsp;style=&quot;padding:&nbsp;50px;&quot;&nbsp;href&nbsp;=&quot;</span><span class="default">&lt;?php&nbsp;</span><span class="keyword">echo</span><span class="default">&nbsp;</span><span class="default">esc_url</span><span class="keyword">(</span><span class="default">&nbsp;</span><span class="default">$autologin_url</span><span class="default">&nbsp;</span><span class="keyword">)</span><span class="keyword">;</span><span class="default">&nbsp;</span><span class="default">?&gt;</span><span class="html">&quot;&gt;Log&nbsp;in&lt;/a&gt;</span></td></tr>
    <tr class=" d-flex"><td  class="col-1 text-right"><a id="25" href="#25">25</a></td><td class="col-11 codeLine"></td></tr>
    <tr class=" d-flex"><td  class="col-1 text-right"><a id="26" href="#26">26</a></td><td class="col-11 codeLine"><span class="html">&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;</span></td></tr>
    <tr class=" d-flex"><td  class="col-1 text-right"><a id="27" href="#27">27</a></td><td class="col-11 codeLine"></td></tr>
    <tr class=" d-flex"><td  class="col-1 text-right"><a id="28" href="#28">28</a></td><td class="col-11 codeLine"><span class="html">&nbsp;&nbsp;&nbsp;&nbsp;&lt;div&gt;</span></td></tr>
    <tr class="danger d-flex"><td  class="col-1 text-right"><a id="29" href="#29">29</a></td><td class="col-11 codeLine"><span class="html">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This&nbsp;link&nbsp;is&nbsp;valid&nbsp;for&nbsp;</span><span class="default">&lt;?php&nbsp;</span><span class="keyword">echo</span><span class="default">&nbsp;</span><span class="default">esc_html</span><span class="keyword">(</span><span class="default">&nbsp;</span><span class="default">$expires_in_friendly</span><span class="default">&nbsp;</span><span class="keyword">)</span><span class="keyword">;</span><span class="default">&nbsp;</span><span class="default">?&gt;</span><span class="html">.</span></td></tr>
    <tr class=" d-flex"><td  class="col-1 text-right"><a id="30" href="#30">30</a></td><td class="col-11 codeLine"><span class="html">&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;</span></td></tr>
    <tr class=" d-flex"><td  class="col-1 text-right"><a id="31" href="#31">31</a></td><td class="col-11 codeLine"><span class="html">&lt;/div&gt;</span></td></tr>

</tbody>
</table>


   <footer>
    <hr/>
    <h4>Legend</h4>
    <p><span class="legend covered-by-small-tests">Covered by small (and larger) tests</span><span class="legend covered-by-medium-tests">Covered by medium (and large) tests</span><span class="legend covered-by-large-tests">Covered by large tests (and tests of unknown size)</span><span class="legend not-covered">Not covered</span><span class="legend not-coverable">Not coverable</span></p>
    <p>
     <small>Generated by <a href="https://github.com/sebastianbergmann/php-code-coverage" target="_top">php-code-coverage 9.2.31</a> using <a href="https://secure.php.net/" target="_top">PHP 7.4.33</a> at Wed May 8 2:38:58 UTC 2024.</small>
    </p>
    <a title="Back to the top" id="toplink" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" viewBox="0 0 12 16"><path fill-rule="evenodd" d="M12 11L6 5l-6 6h12z"/></svg>
    </a>
   </footer>
  </div>
  <script src="../../js/jquery.min.js?v=9.2.31" type="text/javascript"></script>
  <script src="../../js/popper.min.js?v=9.2.31" type="text/javascript"></script>
  <script src="../../js/bootstrap.min.js?v=9.2.31" type="text/javascript"></script>
  <script src="../../js/file.js?v=9.2.31" type="text/javascript"></script>
 </body>
</html>
